<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body ng-app="indexApp" ng-controller="IndexController">
    <header>
        <% include ./partials/header %>
    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="img/portfolio/thumbnails/1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="img/portfolio/thumbnails/2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="img/portfolio/thumbnails/3.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>
                <a href="/new" class="btn btn-primary btn-lg btn-block" role="button">发布新的宝贝</a>
                <div>
                    <h3>最新宝贝</h3>
                </div>
                <div class="row">

                    <div ng-repeat="item in items" class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img ng-src="{{item.Thumbnail}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right">
                                    {{ item.Price }}
                                </h4>
                                <h4>
                                    <a href="/item">{{ item.ItemName }}</a>
                                </h4>
                                <p>
                                    {{ item.Description }}
                                </p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">
                                    {{ item.Reviews }} reviews</p>
                                <p>
                                    <span ng-repeat="i in [0,1,2,3,4]" ng-class="{'glyphicon':true, 'glyphicon-star':i<item.Rate, 'glyphicon-star-empty':i>=item.Rate}"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <% include ./partials/footer %>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script src="apps/index.js"></script>
</body>

</html>