<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body ng-app="itemApp" ng-controller="ItemController">
    <header>
        <% include ./partials/header %>
    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" src="img/portfolio/fullsize/1.jpg" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">{{item.Price}}</h4>
                        <h4><a href="#">Bose QC35</a>
                        </h4>
                        <p>如何用数码设备换来片刻的宁静,就有了下面这篇Bose QC35降噪蓝牙耳机体验。 外观绝不出彩,但可能是佩戴最舒适的耳机之一Bose QC35</p>
                        <p>99新，海淘回来刚到，分享给大家一起体验</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 条评论</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span> 5.0 stars
                        </p>
                    </div>
                </div>

                <div class="text-left">
                    <a class="btn btn-primary btn-block" href="order">我要租</a>
                </div>

                </p>

                <div class="well">

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span> 匿名
                            <span class="pull-right">10 天前</span>
                            <p>降噪效果超级棒，下次再租！</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span> 匿名
                            <span class="pull-right">12 天前</span>
                            <p>下一次希望能轮到我。</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span> 匿名
                            <span class="pull-right">15 天前</span>
                            <p>物主人很好，跟我交流了很多关于hifi的心得，下次再来。</p>
                        </div>
                    </div>

                    <h4>留言：</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </form>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <% include ./partials/footer %>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script src="apps/item.js"></script>

</body>

</html>