<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/header %>
    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-9">

                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="img/portfolio/thumbnails/1.jpg" alt="" class="img-rounded pull-left">
                            <div class="caption">
                                <h4><a href="/orderinfo">Bose QC35</a>
                                <h4>￥24.99</h4>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="img/portfolio/thumbnails/1.jpg" alt="" class="img-rounded pull-left">
                            <div class="caption">
                                <h4><a href="/orderinfo">The New Macbook</a>
                                <h4>￥124.99</h4>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <% include ./partials/footer %>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
