<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/header %>
    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">闲宝宝 你好：
                    <%= user_info.nickname %>
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="<%= user_info.headimgurl %>" alt="">
                            </div>
                        </div>
                </p>
                <div class="list-group">
                    <a href="items.html" class="list-group-item">我发布的</a>
                    <a href="items.html" class="list-group-item">我租出的</a>
                    <a href="items.html" class="list-group-item">我租到的</a>
                    <a href="items.html" class="list-group-item">我赞过的</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <% include ./partials/footer %>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>